mixin video(video)
    a(href=`/videos/${video.id}`)
        div         
            span #{video.title}
            div
                small #{video.owner.name} • 
                small #{video.meta.views} Views