.video__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: navy;
    color: white;
    margin-bottom: 10px;
}
.video__comments {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

#commentForm {
    display: inline-block;
    width: 100%;
}

.video__add-comments {
    text-align: center;
}